@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.navbar{
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0px 20px;
    /* margin-bottom: 30px; */
}

.left{
    font-size: 2em;
}

.left a, .right a{
    text-decoration: none;
    color: white;
}

.right{
    width: 35%;
    height: 4em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.right a{
    margin: 0 1rem;
}

/* .nav-btn-menu{
    width: 20%;
    height: 3em;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
} */

/* -------------------------------- Navbar end----------------------------------------------------- */


.shopping-cart{
    width: 100%;
    height: 87vh;
    display: flex;
    gap: 1em;  
    padding: 2em;     
}

.shopping-cart .my-cart{
    width: 70%;
    height: 84vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.shopping-cart-title{
    font-size: 2em;
    font-weight: 700;
    line-height: 36.31px;
    text-align: center;
}

.items{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 1em;
    overflow-y: auto;
    padding-bottom: 1.5em;
    padding-left: 3em;
}

.items::-webkit-scrollbar{
    display: none;
}

.items .item {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid black;
  }

.items .item img {
    max-width: 100%;
    height: 15em;
}

.item .info{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.item .info .row{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0em 0.5em;
    width: 100%;
    height: 5em;
}

.info .row .item-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.45;
    text-align: justify;
}

.info .remove-from-cart{
    width: 100%;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
    background-color: black;
    cursor: pointer;
}

/* *********************** My Cart Section Styling ********************************* */

.shopping-cart .checkout{
    width: 27%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 2em 0.5em;
    overflow-y: auto;
}

.checkout::-webkit-scrollbar{
    display: none;
}

.checkout .checkout-title{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    padding: 0.5em 0em;
}

.checkout .items-list-price{
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-bottom: 1px solid white;
    padding: 1em;
}

.checkout .items-list-price .item-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-price .item-no-with-title{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    text-align: justify;
}

.item-price .item-no-with-title .item-no{
    width: 5%;
}

.item-price .item-no-with-title .item-title{
    width: 90%;
}

.item-price .price{
    width: 25%;
    display: flex;
    justify-content: center;
}

.checkout .item-total-price{
    display: flex;
    justify-content: space-between;
    padding: 0.5em 2em;
    border-bottom: 1px solid white;
    font-size: 1.1em;
}

.checkout .click-to-checkout-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0em;
}

.checkout .checkout-btn{
    width: 90%;
    padding: 10px;
    border: 1px solid #000000;
    color: black;
    background-color: white;
    border-radius: 1px;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 1px;
}

/* **************************checkout End ********************************** */

.error-during-fetching{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 600;
    color: red;
}

.messageWhenCartEmpty{
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}